<?xml version="1.0"?>
<launch>
    <arg name="field" default="blue" />
    <arg name="rosbag" default="true" />
    <include file="$(find catchrobo_bringup)/launch/displays.launch">
        <arg name="field" value="$(arg field)" />
    </include>
    <node pkg="catchrobo_gui" type="motor_debug.py" name="motor_status"></node>
    <arg name="" default="" />
    <node pkg="catchrobo_manager" type="calibration.py" name="calibration" output="screen" respawn="false" respawn_delay="0" />
    <group if="$(arg rosbag)">
        <include file="$(find catchrobo_test)/launch/rosbag_record.launch" />
    </group>


    <node pkg="catchrobo_manager" type="show_for_rviz.py" name="show_for_rviz" output="screen" respawn="false" respawn_delay="0" />
    <include file="$(find catchrobo_manual)/launch/manual_xbox.launch" />

</launch>