<?xml version="1.0"?>
<launch>
    <arg name="field" default="red" />
    <include file="$(find catchrobo_description)/launch/catchrobo_display.launch">
        <arg name="field" value="$(arg field)" />
    </include>


    <rosparam file="$(find catchrobo_manager)/config/game_manager.yaml" command="load" ns="" />


</launch>