<?xml version="1.0"?>
<launch>
    <!-- <arg name="rosbag" default="true" /> -->

    <!-- <group if="$(arg rosbag)">
        <include file="$(find catchrobo_test)/launch/rosbag_record.launch" />
    </group> -->
    <arg name="continue" default="false" />
    <arg name="game_mode" default="normal_game" />

    <param name="game_mode" value="$(arg game_mode)" />
    <param name="is_continue" value="$(arg continue)" />

    <node pkg="catchrobo_manager" type="game_manager_node.py" name="game_manager_node" output="screen" respawn="false" respawn_delay="0" />


</launch>