<?xml version="1.0"?>
<launch>
    <!--  rosbagファイル名に撮影日時を加える場合
         <node name="rosbag_record" pkg="rosbag" type="record" output="screen" args="record -o $(find catchrobo_test)/rosbag/rosbag -a -x '(.*)/compressed(.*)'"/>  -->
    <node name="rosbag_record" pkg="rosbag" type="record" output="screen" args="record -O $(find catchrobo_test)/rosbag/rosbag -a -x '(.*)/compressed(.*)'"/> 

</launch>